<!--Bottom Nav -->
<!-- Welid Adem
    301020447
   Sep 25 2023-->


   
<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-light">
      <div class="container-fluid">
        <h6 class="display-8 navbar-text text-muted">&copy; Copyright <%= new Date().getFullYear();%>. All rights reserved.</h6>
      </div>
    </nav>
  </footer>