<!-- Welid Adem
    301020447
   Sep 25 2023--> 
<!DOCTYPE html>
<html lang="en">
<head>
    <% title="About"; %> 
    <%- include ../sections/main-nav %>
    <%- include ../sections/header %>
    </head>
<body ="container">
    <img  src="/assets/images/myphoto.JPG" width="400" alt="">
    <main>
    <div class="container"
        
        <h1>Welid Adem</h1>
        
        <p class="display-5"><p>I'm student at Centnnial College <i><b>Software engineer technician</b></i>
        I'm in my second year in my program. In my free i like to playing  <br>
         Soccer,going to the gym and watching movies. </p>
        
        </div>

        <p><a href="https://centennialcollegeedu-my.sharepoint.com/personal/wadem_my_centennialcollege_ca/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fwadem%5Fmy%5Fcentennialcollege%5Fca%2FDocuments%2FW%20Resume%20%20%281%29%2Epdf&parent=%2Fpersonal%2Fwadem%5Fmy%5Fcentennialcollege%5Fca%2FDocuments">Resume Link</a></p>
        </main>
       <footer>
      <%- include ../sections/bottom-nav %> 
       </footer> 
            
</body>
</html>

    
   
   