<!-- Welid Adem
    301020447
   Sep 25 2023-->
<!DOCTYPE html>
<html lang="en">
<head>
    <% title="Home"; %> 
    <%- include ../sections/main-nav %>
    <%- include ../sections/header %>
</head>
<body>
 

<h1><center><bottom>
   Hi everyone <br>  My name is Welid Adem  <br> Welcome to my Express Website

</bottom></center></h1>

<h2><center>
    " Hope everybody discover the joy of everyday healthy life"
</center></h2>


</body>

<footer>
    <%- include ../sections/bottom-nav %> 
</footer> 
