<!-- Welid Adem
    301020447
   Sep 25 2023-->
<!DOCTYPE html>
<html lang="en">
<head>
    <% title="projects"; %> 
    <%- include ../sections/main-nav %>
    <%- include ../sections/header %>
    
</head>
<body>
    <h1> List of my projects </h1>
    <img  src="/assets/images/p1.png" width="400" alt="">
    <h2>The project was about form to fill regarding an evaluation </h2>
    <img  src="/assets/images/p2.png" width="400" alt="">
    <h2> This is a BMR application which calculates your body fat<br>
    according to your weight</h2>
    <img  src="/assets/images/p3.png" width="400" alt="">
    <h2>This project was about MacbookPro devices which give you all the details <br>
    where it can be purchased </h2>



<footer>
        <%- include ../sections/bottom-nav %> 
</footer> 
</body>
