<!-- Welid Adem
    301020447
   Sep 25 2023-->
<!DOCTYPE html>
<html lang="en">
<head>
    <% title="Services"; %> 
    <%- include ../sections/main-nav %>
    <%- include ../sections/header %>
<body>
    
   <h1>
    List of services 
   </h1>
   <p> C# <br> Java <br> Software Testing <br> Software Design </p>

    
        <img src="/assets/images/A.jpg" alt="alternate text" width="300" height="300" style="padding-bottom:0.5em;">
        <img src="/assets/images/B.jpg" alt="alternate text" width="300" height="300" style="padding-bottom:0.5em;">
        <img src="/assets/images/D.jpg" alt="alternate text" width="300" height="300" style="padding-bottom:0.5em;"




<footer>
        <%- include ../sections/bottom-nav %> 
</footer> 
</body>
</head>